node_modules
.DS_Store
npm-debug.log
lerna-debug.log
npm-debug.log.*
lerna-debug.log.*
.idea
.npmrc
report
coverage
package-lock.json
yarn.lock
dist
lib/*.tgz
.vscode
stats.json
example/resume.pdf
example/resume.html
resume